Repository njdifiore91/ai-umbrella-modernized-ifecty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umbrella-admins, @backend-team, @architects, @devops-team, @frontend-team, @security-team, @integration-team, @ci-admins, @qa-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/db/migration/V2__security_tables.sql
  src/backend/src/main/resources/db/migration/V2__security_tables.sql
Owners: @backend-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/db/migration/V3__policy_tables.sql
  src/backend/src/main/resources/db/migration/V3__policy_tables.sql
Owners: @backend-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/db/migration/V4__claims_tables.sql
  src/backend/src/main/resources/db/migration/V4__claims_tables.sql
Owners: @backend-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/db/migration/V5__integration_tables.sql
  src/backend/src/main/resources/db/migration/V5__integration_tables.sql
Owners: @backend-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/UmbrellaApplicationTests.java
  src/backend/src/test/java/com/prcins/umbrella/UmbrellaApplicationTests.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/integration/clue/CLUEClientTest.java
  src/backend/src/test/java/com/prcins/umbrella/integration/clue/CLUEClientTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/integration/policystar/PolicyStarClientTest.java
  src/backend/src/test/java/com/prcins/umbrella/integration/policystar/PolicyStarClientTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/integration/rmv/RMVClientTest.java
  src/backend/src/test/java/com/prcins/umbrella/integration/rmv/RMVClientTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/integration/speedpay/SpeedPayClientTest.java
  src/backend/src/test/java/com/prcins/umbrella/integration/speedpay/SpeedPayClientTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/service/claims/ClaimServiceTest.java
  src/backend/src/test/java/com/prcins/umbrella/service/claims/ClaimServiceTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/service/policy/PolicyServiceTest.java
  src/backend/src/test/java/com/prcins/umbrella/service/policy/PolicyServiceTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/service/user/UserServiceTest.java
  src/backend/src/test/java/com/prcins/umbrella/service/user/UserServiceTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/web/controller/ClaimControllerTest.java
  src/backend/src/test/java/com/prcins/umbrella/web/controller/ClaimControllerTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/web/controller/PolicyControllerTest.java
  src/backend/src/test/java/com/prcins/umbrella/web/controller/PolicyControllerTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/java/com/prcins/umbrella/web/controller/UserControllerTest.java
  src/backend/src/test/java/com/prcins/umbrella/web/controller/UserControllerTest.java
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/resources/application-test.yml
  src/backend/src/test/resources/application-test.yml
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/test/resources/data.sql
  src/backend/src/test/resources/data.sql
Owners: @backend-team, @qa-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/.dockerignore
  src/web/.dockerignore
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/README.md
  src/web/README.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/kubernetes/configmap.yml
  src/web/kubernetes/configmap.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/kubernetes/deployment.yml
  src/web/kubernetes/deployment.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/kubernetes/ingress.yml
  src/web/kubernetes/ingress.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/kubernetes/service.yml
  src/web/kubernetes/service.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/index.html
  src/web/src/index.html
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/components/claims/ClaimDetails/ClaimDetails.styles.ts
  src/web/src/components/claims/ClaimDetails/ClaimDetails.styles.ts
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/components/claims/ClaimDetails/ClaimDetails.test.tsx
  src/web/src/components/claims/ClaimDetails/ClaimDetails.test.tsx
Owners: @frontend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/web/src/components/claims/ClaimDetails/ClaimDetails.tsx
  src/web/src/components/claims/ClaimDetails/ClaimDetails.tsx
Owners: @frontend-team, @architects

.github/CODEOWNERS:

# Global repository administrators
* @umbrella-admins

# Backend Java application with Java 21 and Spring Boot 3.2.x components
/src/backend/ @backend-team @architects
/src/backend/src/main/java/com/prcins/umbrella/config/ @backend-team @architects
/src/backend/src/main/java/jakarta/ @backend-team @architects

# Spring Boot Actuator and monitoring components
/src/backend/src/main/java/com/prcins/umbrella/actuator/ @backend-team @devops-team

# Frontend web application
/src/web/ @frontend-team @architects

# Infrastructure and container orchestration
/infrastructure/ @devops-team @architects
/infrastructure/kubernetes/ @devops-team @architects
/infrastructure/helm/ @devops-team @architects

# Security implementation including Jakarta Security
/src/backend/src/main/java/com/prcins/umbrella/security/ @security-team @architects

# External system integration with Spring Boot 3.2.x
/src/backend/src/main/java/com/prcins/umbrella/integration/ @integration-team @architects

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.properties @devops-team

# Container and deployment configuration
Dockerfile @devops-team @security-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

# CI/CD workflows
.github/workflows/ @devops-team @ci-admins

# Build configuration
pom.xml @backend-team @architects
package.json @frontend-team @architects
package-lock.json @frontend-team @architects

# Documentation
*.md @umbrella-admins @architects

# Test configurations
/src/test/ @backend-team @qa-team
/src/backend/src/test/ @backend-team @qa-team
/src/web/test/ @frontend-team @qa-team

# Database migrations and scripts
/src/backend/src/main/resources/db/ @backend-team @dba-team

# API specifications
/src/backend/src/main/resources/api/ @backend-team @architects @integration-team

# Monitoring and observability
/src/backend/src/main/resources/monitoring/ @backend-team @devops-team
/infrastructure/monitoring/ @devops-team

# Environment configurations
/src/backend/src/main/resources/config/ @devops-team @architects
/infrastructure/environments/ @devops-team @architects

# Security configurations
/src/backend/src/main/resources/security/ @security-team @architects
/infrastructure/security/ @security-team @devops-team
