Repository njdifiore91/ai-umbrella-modernized-ifecty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umbrella-admins, @backend-team, @architects, @devops-team, @frontend-team, @security-team, @integration-team, @ci-admins, @qa-team, @dba-team

.github/CODEOWNERS:

# Global repository administrators
* @umbrella-admins

# Backend Java application with Java 21 and Spring Boot 3.2.x components
/src/backend/ @backend-team @architects
/src/backend/src/main/java/com/prcins/umbrella/config/ @backend-team @architects
/src/backend/src/main/java/jakarta/ @backend-team @architects

# Spring Boot Actuator and monitoring components
/src/backend/src/main/java/com/prcins/umbrella/actuator/ @backend-team @devops-team

# Frontend web application
/src/web/ @frontend-team @architects

# Infrastructure and container orchestration
/infrastructure/ @devops-team @architects
/infrastructure/kubernetes/ @devops-team @architects
/infrastructure/helm/ @devops-team @architects

# Security implementation including Jakarta Security
/src/backend/src/main/java/com/prcins/umbrella/security/ @security-team @architects

# External system integration with Spring Boot 3.2.x
/src/backend/src/main/java/com/prcins/umbrella/integration/ @integration-team @architects

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.properties @devops-team

# Container and deployment configuration
Dockerfile @devops-team @security-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

# CI/CD workflows
.github/workflows/ @devops-team @ci-admins

# Build configuration
pom.xml @backend-team @architects
package.json @frontend-team @architects
package-lock.json @frontend-team @architects

# Documentation
*.md @umbrella-admins @architects

# Test configurations
/src/test/ @backend-team @qa-team
/src/backend/src/test/ @backend-team @qa-team
/src/web/test/ @frontend-team @qa-team

# Database migrations and scripts
/src/backend/src/main/resources/db/ @backend-team @dba-team

# API specifications
/src/backend/src/main/resources/api/ @backend-team @architects @integration-team

# Monitoring and observability
/src/backend/src/main/resources/monitoring/ @backend-team @devops-team
/infrastructure/monitoring/ @devops-team

# Environment configurations
/src/backend/src/main/resources/config/ @devops-team @architects
/infrastructure/environments/ @devops-team @architects

# Security configurations
/src/backend/src/main/resources/security/ @security-team @architects
/infrastructure/security/ @security-team @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/exception/GlobalExceptionHandler.java
  src/backend/src/main/java/com/prcins/umbrella/exception/GlobalExceptionHandler.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/exception/ResourceNotFoundException.java
  src/backend/src/main/java/com/prcins/umbrella/exception/ResourceNotFoundException.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/integration/clue/CLUEClient.java
  src/backend/src/main/java/com/prcins/umbrella/integration/clue/CLUEClient.java
Owners: @integration-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/integration/policystar/PolicyStarClient.java
  src/backend/src/main/java/com/prcins/umbrella/integration/policystar/PolicyStarClient.java
Owners: @integration-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/integration/rmv/RMVClient.java
  src/backend/src/main/java/com/prcins/umbrella/integration/rmv/RMVClient.java
Owners: @integration-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/integration/speedpay/SpeedPayClient.java
  src/backend/src/main/java/com/prcins/umbrella/integration/speedpay/SpeedPayClient.java
Owners: @integration-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/repository/claims/ClaimRepository.java
  src/backend/src/main/java/com/prcins/umbrella/repository/claims/ClaimRepository.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/repository/claims/PaymentRepository.java
  src/backend/src/main/java/com/prcins/umbrella/repository/claims/PaymentRepository.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/repository/policy/CoverageRepository.java
  src/backend/src/main/java/com/prcins/umbrella/repository/policy/CoverageRepository.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/repository/policy/PolicyRepository.java
  src/backend/src/main/java/com/prcins/umbrella/repository/policy/PolicyRepository.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/repository/user/UserRepository.java
  src/backend/src/main/java/com/prcins/umbrella/repository/user/UserRepository.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/security/CustomUserDetailsService.java
  src/backend/src/main/java/com/prcins/umbrella/security/CustomUserDetailsService.java
Owners: @security-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/security/JwtTokenProvider.java
  src/backend/src/main/java/com/prcins/umbrella/security/JwtTokenProvider.java
Owners: @security-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/security/SecurityUtils.java
  src/backend/src/main/java/com/prcins/umbrella/security/SecurityUtils.java
Owners: @security-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/claims/ClaimService.java
  src/backend/src/main/java/com/prcins/umbrella/service/claims/ClaimService.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/claims/ClaimServiceImpl.java
  src/backend/src/main/java/com/prcins/umbrella/service/claims/ClaimServiceImpl.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/policy/PolicyService.java
  src/backend/src/main/java/com/prcins/umbrella/service/policy/PolicyService.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/policy/PolicyServiceImpl.java
  src/backend/src/main/java/com/prcins/umbrella/service/policy/PolicyServiceImpl.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/user/UserService.java
  src/backend/src/main/java/com/prcins/umbrella/service/user/UserService.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/service/user/UserServiceImpl.java
  src/backend/src/main/java/com/prcins/umbrella/service/user/UserServiceImpl.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/util/DateUtils.java
  src/backend/src/main/java/com/prcins/umbrella/util/DateUtils.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/util/SecurityUtils.java
  src/backend/src/main/java/com/prcins/umbrella/util/SecurityUtils.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/util/ValidationUtils.java
  src/backend/src/main/java/com/prcins/umbrella/util/ValidationUtils.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/controller/ClaimController.java
  src/backend/src/main/java/com/prcins/umbrella/web/controller/ClaimController.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/controller/PolicyController.java
  src/backend/src/main/java/com/prcins/umbrella/web/controller/PolicyController.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/controller/UserController.java
  src/backend/src/main/java/com/prcins/umbrella/web/controller/UserController.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/dto/ClaimDTO.java
  src/backend/src/main/java/com/prcins/umbrella/web/dto/ClaimDTO.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/dto/PolicyDTO.java
  src/backend/src/main/java/com/prcins/umbrella/web/dto/PolicyDTO.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/dto/UserDTO.java
  src/backend/src/main/java/com/prcins/umbrella/web/dto/UserDTO.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/mapper/ClaimMapper.java
  src/backend/src/main/java/com/prcins/umbrella/web/mapper/ClaimMapper.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/mapper/PolicyMapper.java
  src/backend/src/main/java/com/prcins/umbrella/web/mapper/PolicyMapper.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/web/mapper/UserMapper.java
  src/backend/src/main/java/com/prcins/umbrella/web/mapper/UserMapper.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/ValidationMessages.properties
  src/backend/src/main/resources/ValidationMessages.properties
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/application-dev.yml
  src/backend/src/main/resources/application-dev.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/application-prod.yml
  src/backend/src/main/resources/application-prod.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/application-qa.yml
  src/backend/src/main/resources/application-qa.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/application.yml
  src/backend/src/main/resources/application.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/logback-spring.xml
  src/backend/src/main/resources/logback-spring.xml
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/messages.properties
  src/backend/src/main/resources/messages.properties
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/resources/db/migration/V1__initial_schema.sql
  src/backend/src/main/resources/db/migration/V1__initial_schema.sql
Owners: @backend-team, @dba-team
