Repository njdifiore91/ai-umbrella-modernized-ifecty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umbrella-admins, @backend-team, @architects, @devops-team, @frontend-team, @security-team, @integration-team, @ci-admins, @qa-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/namespaces/namespaces.yml
  infrastructure/kubernetes/namespaces/namespaces.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/registry/harbor.yml
  infrastructure/kubernetes/registry/harbor.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/scaling/cluster-autoscaler.yml
  infrastructure/kubernetes/scaling/cluster-autoscaler.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/scaling/horizontal-pod-autoscaler.yml
  infrastructure/kubernetes/scaling/horizontal-pod-autoscaler.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/scaling/vertical-pod-autoscaler.yml
  infrastructure/kubernetes/scaling/vertical-pod-autoscaler.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/security/network-policies.yml
  infrastructure/kubernetes/security/network-policies.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/security/pod-security-policies.yml
  infrastructure/kubernetes/security/pod-security-policies.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/security/rbac.yml
  infrastructure/kubernetes/security/rbac.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/storage/storage-class.yml
  infrastructure/kubernetes/storage/storage-class.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/prometheus/prometheus.yml
  infrastructure/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/README.md
  src/backend/README.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/mvnw.cmd
  src/backend/mvnw.cmd
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/pom.xml
  src/backend/pom.xml
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/.mvn/wrapper/maven-wrapper.properties
  src/backend/.mvn/wrapper/maven-wrapper.properties
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/kubernetes/configmap.yml
  src/backend/kubernetes/configmap.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/kubernetes/deployment.yml
  src/backend/kubernetes/deployment.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/kubernetes/ingress.yml
  src/backend/kubernetes/ingress.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/kubernetes/secret.yml
  src/backend/kubernetes/secret.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/kubernetes/service.yml
  src/backend/kubernetes/service.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/UmbrellaApplication.java
  src/backend/src/main/java/com/prcins/umbrella/UmbrellaApplication.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/AsyncConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/AsyncConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/CacheConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/CacheConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/DatabaseConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/DatabaseConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/IntegrationConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/IntegrationConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/MetricsConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/MetricsConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/SecurityConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/SecurityConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/config/WebConfig.java
  src/backend/src/main/java/com/prcins/umbrella/config/WebConfig.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/claims/Claim.java
  src/backend/src/main/java/com/prcins/umbrella/domain/claims/Claim.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/claims/ClaimDocument.java
  src/backend/src/main/java/com/prcins/umbrella/domain/claims/ClaimDocument.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/claims/Payment.java
  src/backend/src/main/java/com/prcins/umbrella/domain/claims/Payment.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/policy/Coverage.java
  src/backend/src/main/java/com/prcins/umbrella/domain/policy/Coverage.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/policy/Endorsement.java
  src/backend/src/main/java/com/prcins/umbrella/domain/policy/Endorsement.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/policy/Policy.java
  src/backend/src/main/java/com/prcins/umbrella/domain/policy/Policy.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/user/Permission.java
  src/backend/src/main/java/com/prcins/umbrella/domain/user/Permission.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/user/Role.java
  src/backend/src/main/java/com/prcins/umbrella/domain/user/Role.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/domain/user/User.java
  src/backend/src/main/java/com/prcins/umbrella/domain/user/User.java
Owners: @backend-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/src/backend/src/main/java/com/prcins/umbrella/exception/BusinessException.java
  src/backend/src/main/java/com/prcins/umbrella/exception/BusinessException.java
Owners: @backend-team, @architects

.github/CODEOWNERS:

# Global repository administrators
* @umbrella-admins

# Backend Java application with Java 21 and Spring Boot 3.2.x components
/src/backend/ @backend-team @architects
/src/backend/src/main/java/com/prcins/umbrella/config/ @backend-team @architects
/src/backend/src/main/java/jakarta/ @backend-team @architects

# Spring Boot Actuator and monitoring components
/src/backend/src/main/java/com/prcins/umbrella/actuator/ @backend-team @devops-team

# Frontend web application
/src/web/ @frontend-team @architects

# Infrastructure and container orchestration
/infrastructure/ @devops-team @architects
/infrastructure/kubernetes/ @devops-team @architects
/infrastructure/helm/ @devops-team @architects

# Security implementation including Jakarta Security
/src/backend/src/main/java/com/prcins/umbrella/security/ @security-team @architects

# External system integration with Spring Boot 3.2.x
/src/backend/src/main/java/com/prcins/umbrella/integration/ @integration-team @architects

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.properties @devops-team

# Container and deployment configuration
Dockerfile @devops-team @security-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

# CI/CD workflows
.github/workflows/ @devops-team @ci-admins

# Build configuration
pom.xml @backend-team @architects
package.json @frontend-team @architects
package-lock.json @frontend-team @architects

# Documentation
*.md @umbrella-admins @architects

# Test configurations
/src/test/ @backend-team @qa-team
/src/backend/src/test/ @backend-team @qa-team
/src/web/test/ @frontend-team @qa-team

# Database migrations and scripts
/src/backend/src/main/resources/db/ @backend-team @dba-team

# API specifications
/src/backend/src/main/resources/api/ @backend-team @architects @integration-team

# Monitoring and observability
/src/backend/src/main/resources/monitoring/ @backend-team @devops-team
/infrastructure/monitoring/ @devops-team

# Environment configurations
/src/backend/src/main/resources/config/ @devops-team @architects
/infrastructure/environments/ @devops-team @architects

# Security configurations
/src/backend/src/main/resources/security/ @security-team @architects
/infrastructure/security/ @security-team @devops-team
