Repository njdifiore91/ai-umbrella-modernized-ifecty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @umbrella-admins, @backend-team, @architects, @devops-team, @frontend-team, @security-team, @integration-team, @ci-admins, @qa-team, @dba-team

Add public-samples/ai-umbrella-modernized-ifecty/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team, @ci-admins

Add public-samples/ai-umbrella-modernized-ifecty/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team, @ci-admins

Add public-samples/ai-umbrella-modernized-ifecty/.github/workflows/pr-checks.yml
  .github/workflows/pr-checks.yml
Owners: @devops-team, @ci-admins

Add public-samples/ai-umbrella-modernized-ifecty/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @ci-admins

Add public-samples/ai-umbrella-modernized-ifecty/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @umbrella-admins, @architects

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/docker-compose.yml
  infrastructure/docker-compose.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/elasticsearch/elasticsearch.yml
  infrastructure/elasticsearch/elasticsearch.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/fluentd/fluent.conf
  infrastructure/fluentd/fluent.conf
Owners: @devops-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/grafana/dashboards/application-metrics.json
  infrastructure/grafana/dashboards/application-metrics.json
Owners: @devops-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/grafana/dashboards/jvm-metrics.json
  infrastructure/grafana/dashboards/jvm-metrics.json
Owners: @devops-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/grafana/dashboards/system-metrics.json
  infrastructure/grafana/dashboards/system-metrics.json
Owners: @devops-team, @architects

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/grafana/provisioning/dashboards/dashboard.yml
  infrastructure/grafana/provisioning/dashboards/dashboard.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/grafana/provisioning/datasources/datasource.yml
  infrastructure/grafana/provisioning/datasources/datasource.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/harbor/harbor.yml
  infrastructure/harbor/harbor.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/Chart.yaml
  infrastructure/helm/umbrella/Chart.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/values-dev.yaml
  infrastructure/helm/umbrella/values-dev.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/values-prod.yaml
  infrastructure/helm/umbrella/values-prod.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/values-qa.yaml
  infrastructure/helm/umbrella/values-qa.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/values.yaml
  infrastructure/helm/umbrella/values.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/configmap.yaml
  infrastructure/helm/umbrella/templates/configmap.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/deployment.yaml
  infrastructure/helm/umbrella/templates/deployment.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/hpa.yaml
  infrastructure/helm/umbrella/templates/hpa.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/ingress.yaml
  infrastructure/helm/umbrella/templates/ingress.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/secret.yaml
  infrastructure/helm/umbrella/templates/secret.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/helm/umbrella/templates/service.yaml
  infrastructure/helm/umbrella/templates/service.yaml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kibana/kibana.yml
  infrastructure/kibana/kibana.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/config/config-maps.yml
  infrastructure/kubernetes/config/config-maps.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/config/secrets.yml
  infrastructure/kubernetes/config/secrets.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/ingress/ingress-controller.yml
  infrastructure/kubernetes/ingress/ingress-controller.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/logging/elasticsearch.yml
  infrastructure/kubernetes/logging/elasticsearch.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/logging/fluentd.yml
  infrastructure/kubernetes/logging/fluentd.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/logging/kibana.yml
  infrastructure/kubernetes/logging/kibana.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/monitoring/grafana.yml
  infrastructure/kubernetes/monitoring/grafana.yml
Owners: @devops-team

Add public-samples/ai-umbrella-modernized-ifecty/infrastructure/kubernetes/monitoring/prometheus-operator.yml
  infrastructure/kubernetes/monitoring/prometheus-operator.yml
Owners: @devops-team

.github/CODEOWNERS:

# Global repository administrators
* @umbrella-admins

# Backend Java application with Java 21 and Spring Boot 3.2.x components
/src/backend/ @backend-team @architects
/src/backend/src/main/java/com/prcins/umbrella/config/ @backend-team @architects
/src/backend/src/main/java/jakarta/ @backend-team @architects

# Spring Boot Actuator and monitoring components
/src/backend/src/main/java/com/prcins/umbrella/actuator/ @backend-team @devops-team

# Frontend web application
/src/web/ @frontend-team @architects

# Infrastructure and container orchestration
/infrastructure/ @devops-team @architects
/infrastructure/kubernetes/ @devops-team @architects
/infrastructure/helm/ @devops-team @architects

# Security implementation including Jakarta Security
/src/backend/src/main/java/com/prcins/umbrella/security/ @security-team @architects

# External system integration with Spring Boot 3.2.x
/src/backend/src/main/java/com/prcins/umbrella/integration/ @integration-team @architects

# Configuration files
*.yml @devops-team
*.yaml @devops-team
*.properties @devops-team

# Container and deployment configuration
Dockerfile @devops-team @security-team
docker-compose*.yml @devops-team
.dockerignore @devops-team

# CI/CD workflows
.github/workflows/ @devops-team @ci-admins

# Build configuration
pom.xml @backend-team @architects
package.json @frontend-team @architects
package-lock.json @frontend-team @architects

# Documentation
*.md @umbrella-admins @architects

# Test configurations
/src/test/ @backend-team @qa-team
/src/backend/src/test/ @backend-team @qa-team
/src/web/test/ @frontend-team @qa-team

# Database migrations and scripts
/src/backend/src/main/resources/db/ @backend-team @dba-team

# API specifications
/src/backend/src/main/resources/api/ @backend-team @architects @integration-team

# Monitoring and observability
/src/backend/src/main/resources/monitoring/ @backend-team @devops-team
/infrastructure/monitoring/ @devops-team

# Environment configurations
/src/backend/src/main/resources/config/ @devops-team @architects
/infrastructure/environments/ @devops-team @architects

# Security configurations
/src/backend/src/main/resources/security/ @security-team @architects
/infrastructure/security/ @security-team @devops-team
